/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;

}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #000000;
	--color-text-wit: #ffffff;
	--color-background: #ffffff;
	--color-main: #EE8CB4;
	--color-select: #F1A3C3;
	--color-background2: #000000;

}


@font-face {
	font-family: 'base';
	/* set name */
	src: url('../font/FuturaPro-Medium.woff2');
	/* url of the font */
}

@font-face {
	font-family: 'basegroot';
	/* set name */
	src: url('../font/FuturaPro-Heavy.woff2');
	/* url of the font */
}

@font-face {
	font-family: 'tekstgroot';
	/* set name */
	src: url('../font/CaslonGraphique.woff2');
	/* url of the font */
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

p {
	font-family: 'base';
	color: var(--color-text);
}

h2 {
	font-family: 'basegroot';
	color: var(--color-text);
	font-size: 2.5em;
}


/* HEADER */

header {
	background-color: var(--color-background);
	position: sticky;
	top: 0;
	z-index: 2;
}


header nav {
	display: flex;
	align-items: center;
	justify-content: end;
	grid-template-columns: 4;

}


header nav {
	display: flex;
	align-items: center;
	gap: 2rem;

}

header nav a {
	display: block;
	margin-right: auto;
margin-left: 1em;
}


header nav ul {
	display: none;

}

header nav>ul {
	display: flex;
	flex-direction: column;
	top: 1.4em;
	bottom: 0;
	left: 0;
	right: 0;
	translate: 100% 0;
	background-color: var(--color-background);
	align-items: start;
	


	position: fixed;
	font-family: 'basegroot';
	font-weight: bold;
	z-index: 1;


}



header nav ul.uitklap {

	translate: 0 0;
	font-size: 3em;
	margin: 0;
}

header nav button {
	all: unset;
	max-width: 2.5rem;
	height: auto;
}

nav>button img.open {
	background: url('../images/kruis.png');

}

header nav section button {
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
}

header nav section button img {
	max-width: 1rem;
	height: auto;
	z-index: 2;
}


header nav section:nth-of-type(1) {
	display: none;
	flex-direction: column;
}

header nav section:nth-of-type(1) button {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1em;
}

header nav section:nth-of-type(1) ul {
	flex-direction: column;

	font-size: 1.5em;
	font-family: 'basegroot';
	font-weight: bold;


	background-color: var(--color-background);
	position: absolute;
	padding: 1em;
	border: var(--color-main) 0.1em solid;
	border-radius: 1.5em;
	z-index: 2;
}


header nav section:nth-of-type(1) ul.is-open {
	display: flex;

}

header nav section:nth-of-type(2) {
	border-left: 0.1em solid var(--color-text);
}

header nav section:nth-of-type(2) ul {
	flex-direction: column;

	font-size: 1.5em;
	font-family: 'basegroot';
	font-weight: bold;


	background-color: var(--color-background);
	position: absolute;
	padding: 1em;
	border: var(--color-main) 0.1em solid;
	border-radius: 1.5em;
	z-index: 1;

}

header nav section:nth-of-type(2) ul.open {
	display: flex;
}

header nav section:nth-of-type(2) button {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1em;
}


header li {
	list-style: none;

}

header li a {
	text-decoration: none;
	color: var(--color-text);
}

header li a:hover {
	color: var(--color-select);
}

header a img {
	width: 6em;
	height: auto;
}



header section button:hover {
	color: var(--color-select);
}

header section:nth-of-type(3) button {
	background-color: var(--color-main);
	color: var(--color-text);
	padding: 0.5em;
	border-radius: 1.5em;
	border: none;
	padding-left: 2em;
	padding-right: 2em;
	display: flex;
}

header section:nth-of-type(3) button:hover {
	background-color: var(--color-select);
}

header nav>ul li a {
	display: flex;
	justify-content: space-around;
}

@media (min-width:67em) {

	header nav {
		justify-content: space-between;
		
	}

	header nav>ul {
		display: flex;
		flex-direction: row;
		position: static;
		translate: 0 0;
		gap: 2em;

	}



	header nav section:nth-of-type(1) {
		display: block;
	}

	header nav>button {
		display: none;
	}

}





/* FOOTER */

footer {
	background-color: var(--color-text);
	font-family: 'base';
	padding: 1em;

}



footer h2 {
	border-bottom: var(--color-text-wit) 1px solid;
	margin: 0;
}

footer section:nth-of-type(1) a {
	color: var(--color-main);
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;

}

footer>section:nth-of-type(1) {
	border-bottom: var(--color-text-wit) 1px solid;
	display: grid;

}

footer section:nth-of-type(1) ul {
	display: flex;
	gap: 2.3em;
	padding: 0;
}

footer>p {
	color: var(--color-main);
	font-size: 1.8em;
	font-weight: bold;
	border-top: var(--color-background) 1px solid;
	margin: 0;
	padding: 1em 0;
}

footer h2 img {
	width: 3em;
	height: auto;

}

footer h3 {
	color: var(--color-main);
	font-size: 1em;
	font-weight: bold;
}

footer section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 10em 10em 1fr 1fr 1fr 1fr;
	grid-template-rows: 10em 4em;
	gap: 1em;
}

footer section:nth-of-type(2) section:nth-of-type(5) {
	grid-row-start: 1;
	grid-column-start: 3;
}

footer section:nth-of-type(2) section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
}



footer section:nth-of-type(2) section:nth-of-type(2) img {
	width: 1.7em;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}



footer section:nth-of-type(2) section:nth-of-type(4) ul {
	padding: 0;
}

footer section:nth-of-type(2) section:nth-of-type(4) {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}

footer section:nth-of-type(2) section:nth-of-type(4) ul li a {
	color: var(--color-main);
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0;

}

footer section:nth-of-type(2) section:nth-of-type(4) ul {
	display: flex;
	justify-content: space-between;
}


footer section:nth-of-type(2) section:nth-of-type(1) p {
	color: var(--color-text-wit);
	font-size: 1.3em;
	font-weight: bold;
}

footer section:nth-of-type(2) section:nth-of-type(3) p {
	color: var(--color-text-wit);
	font-size: 0.9em;
	margin-top: 1.2em;

}

footer section:nth-of-type(2) section:nth-of-type(3) {
	grid-row-start: 2;
	grid-column-start: 1;
}

footer section:nth-of-type(2) section:nth-of-type(1) ul li a img {
	width: 2em;
	height: auto;


}



footer section:nth-of-type(2) section:nth-of-type(1) ul {
	display: flex;
	gap: 1em;
	padding: 0;
}

footer section:nth-of-type(2) section:nth-of-type(2) a {
	color: var(--color-text-wit);
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
}

footer section:nth-of-type(2) section:nth-of-type(5)>ul {
	display: flex;
	gap: 2em;

}

footer section:nth-of-type(2) section:nth-of-type(5)>ul li ul {
	padding: 0;

}

footer section:nth-of-type(2) section:nth-of-type(5) ul li ul li {
	color: var(--color-text-wit);
	text-decoration: none;
	list-style: none;

}

footer section:nth-of-type(2) section:nth-of-type(5) {
	grid-row-start: 1;
	grid-column-start: 3;
	grid-column-end: 7;
}

footer section:nth-of-type(2) a img {
	width: 8em;
	height: auto;

}

footer section:nth-of-type(2) a {

	grid-row-start: 2;
	grid-column-start: 6;
}




@media (max-width:67em) {

	footer section:nth-of-type(1) {
		grid-template-columns: 1fr 1fr;
	}

	footer section:nth-of-type(1) ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	footer section:nth-of-type(2) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"socials address"
			"member address"
			"tag address"
			"secondary tekst"
		;
	}

	footer section:nth-of-type(2) section:nth-of-type(5) ul {
		display: flex;
		flex-direction: column;
	}

	footer section:nth-of-type(2) section:nth-of-type(1) {
		grid-area: socials;
	}

	footer section:nth-of-type(2) section:nth-of-type(1) ul {
		display: flex;
		flex-direction: row;

	}

	footer section:nth-of-type(2) section:nth-of-type(1) ul img {
		max-width: 1.3em;
		height: auto;

	}

	footer section:nth-of-type(2) section:nth-of-type(2) {
		grid-area: member;
	}

	footer section:nth-of-type(2) section:nth-of-type(3) {
		grid-area: secondary;
	}

	footer section:nth-of-type(2) section:nth-of-type(4) {
		display: flex;
		flex-direction: column;
		grid-area: tag;

	}

	footer section:nth-of-type(2) section:nth-of-type(4) ul {
		display: flex;
		flex-direction: column;
		gap: 0.6em;
	}

	footer section:nth-of-type(2) section:nth-of-type(5) {
		grid-area: address;
	}

	footer section:nth-of-type(2) section:nth-of-type(5) ul {
		padding: 0;
	}

	footer section:nth-of-type(2)>a {
		grid-area: tekst;
	}

	/* studentassistente */


}