/* //main// */

main {
	background-color: var(--color-background);

}

 main section:nth-of-type(2), main section:nth-of-type(3), main section:nth-of-type(4), main section:nth-of-type(5), main section:nth-of-type(6){
	margin: 0 10em;

}




main section > button{
	color: var(--color-text);
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
} 
main section > button:hover {
	color: var(--color-main);

} 

main section h2 {
	color: var(--color-main);
}
main p{
	font-size: 1.4em;
}

main a {
	text-decoration: none;
}

main section:nth-of-type(1)>a,
main section:nth-of-type(2)>a {
	background-color: var(--color-main);
	color: var(--color-text);
	padding: 0.5em;
	border-radius: 1.5em;
	border: none;
}

main section:nth-of-type(1)>a:hover,
main section:nth-of-type(2)>a:hover {
	background-color: var(--color-select);
}

main section ul li a {
	color: var(--color-text);
	text-decoration: none;
}

main section ul li a:hover {
	color: var(--color-select);
}

main section button {
	all: unset;
}

main section button:hover {
	color: var(--color-select);
}


main section:nth-of-type(3) a {
	color: var(--color-main);
	text-decoration: underline;
}

main section:nth-of-type(3) a:hover {
	color: var(--color-select);
}

main section:nth-of-type(1) {
	display: grid;
}

main section:nth-of-type(1) div {
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 1;
}

main section:nth-of-type(1) video {
	grid-column-start: 1;
	grid-row-start: 1;
	width: 100%;
	position: relative;
}





main h1 {
	color: var(--color-text-wit);
	font-size: 4em;
	font-family: "basegroot";
	justify-self: center;
	align-self: center;
	text-align: center;
	width: 40%;;
}

main section:nth-of-type(1) div > p {
	color: var(--color-text-wit);
	font-size: 1.5em;
	font-family: "base";
	justify-self: center;
	align-self: center;
	text-align: center;
	font-weight: bold;
}

main section:nth-of-type(1) div > a {

	background-color: var(--color-main);
	color: var(--color-text);
	border-radius: 1.5em;
	border: none;
	padding: 1em 2em;
	font-family: 'basegroot';
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-inline: auto;
    width: fit-content;
}



main section:nth-of-type(1) div > ul{
	display: flex;
	gap: 1em;
	justify-content: center;
	
}
main section:nth-of-type(1) div > ul li{
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	

}
main section:nth-of-type(1) div > ul li p{
font-weight: bold;
	color: var(--color-text-wit);
	font-size: 1em;
}

main section:nth-of-type(1) div > ul li img{
	width: 2em;
	height: auto;
}

main section:nth-of-type(1) button{
	width: 3em;
	height: auto;
	position: absolute;
	top: 80%;
	z-index: 2;
}

main section:nth-of-type(2) ul li a{
	font-size: 3em;
	font-family: "basegroot";
	line-height: 1.5em;
}
main section:nth-of-type(2){
	display: flex;
	flex-direction: column;
}


main section:nth-of-type(2) > a {
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em;
	    display: block;

    width: fit-content;
}

main section:nth-of-type(4) ul li{
	list-style: none;
	font-family: "textgroot";
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 0;
}
main section:nth-of-type(4) ul{
	padding: 0;
}
main section:nth-of-type(4){
	display: flex;
	flex-direction: column-reverse;
}

main section:nth-of-type(4) h2 {
	order: 1; 
}

main section:nth-of-type(4) > a{
	color: var(--color-text);
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 0.4em;
	text-decoration-color: var(--color-main);
}
main section:nth-of-type(4) > a:hover{
	color: var(--color-main);
}

main section:nth-of-type(5) ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	padding: 0;
}
/* main section:nth-of-type(6) {
	display: flex;
	flex-direction: column;
}

main section:nth-of-type(6) img{
order: -1;
} */

main section:nth-of-type(6) ul{
	display: flex;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 2em;
  	scrollbar-width: none;

    anchor-name: --carousel;

	
}
main section:nth-of-type(6) ul {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    font-family: "Material Symbols Outlined";
  }

  &::scroll-button(right) {
    position-area: block-end center;
    content: '->' / 'Next';
    justify-self: end;
  }

  &::scroll-button(left) {
    position-area: block-end center;
    content: '<-' / 'Previous';
    justify-self: end;
	right: 3em;
  }
}

main section:nth-of-type(6) ul {
  scroll-marker-group: after;

  &::scroll-marker-group {
    position: fixed;
    position-anchor: --carousel;
    position-area: block-end;
    position-visibility: always;
    margin: 10px;

    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
    gap: 20px;
  }

  > li {

  }
}

main section:nth-of-type(6) li {
  flex-basis: 35%;
  flex-shrink:0 ;
  scroll-snap-align: left;  
  
}

