


/* //main// */

main {
  background-color: var(--color-background);

}

main section h2{
	  color: var(--color-main);
}


main a{
	text-decoration: none;
	color
}

main section:nth-of-type(1) > a,
main section:nth-of-type(2) > a {
   background-color: var(--color-main);
   color: var(--color-text);
   padding: 0.5em;
   border-radius: 1.5em;
border: none;
}

main section:nth-of-type(1) > a:hover,
main section:nth-of-type(2) > a:hover {
   background-color: var(--color-select);
}

main section ul li a {
	color: var(--color-text);
	text-decoration: none;
}
main section ul li a:hover {
	color: var(--color-select);
}

main section button{
all: unset;
}
main section button:hover{
color: var(--color-select);
}


main section:nth-of-type(3) a {
	color: var(--color-main);
	text-decoration: underline;
}
main section:nth-of-type(3)  a:hover {
	color: var(--color-select);
}

main section:nth-of-type(1){
	display: grid;
}
main section:nth-of-type(1) div{
grid-column-start: 1;
grid-row-start: 1;
z-index: 1;
}
main section:nth-of-type(1) video{
grid-column-start: 1;
grid-row-start: 1;
width: 100%;
}




