/* MAIN ALGEMEEN */

main {
	background-color: var(--color-background);

}

main h2 {
	font-size: 2.8em;
}

main section:nth-of-type(2),
main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5),
main section:nth-of-type(6) {
	margin: 0 0.2em;
	padding: 3em 1em;
}

main section {
	border-top: lightgray 1px solid;
}



main section h2 {
	color: var(--color-main);
}

main p {
	font-size: 1.1em;
}

/* BUTTONS EN A  */


main a {
	text-decoration: none;
}



main section:nth-of-type(1)>a,
main section:nth-of-type(2)>a {
	background-color: var(--color-main);
	color: var(--color-rozebutton);
	padding: 0.5em;
	border-radius: 1.5em;
	border: none;
}

main section:nth-of-type(1)>a:hover,
main section:nth-of-type(2)>a:hover {
	background-color: var(--color-select);
	    text-decoration: underline;
    text-underline-offset: 0.4em;
    text-decoration-color: var(--color-background2);
}

main section ul li a {
	color: var(--color-text);
	text-decoration: none;
}

main section ul li a:hover {
	color: var(--color-select);
	    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: var(--color-main);
}

main section button {
	all: unset;
}

main section button:hover {
	color: var(--color-select);
	    text-decoration: underline;
    text-underline-offset: 0.4em;
    text-decoration-color: var(--color-main);
}





/* EERSTE SECTIE */

main section:nth-of-type(1) {
	display: grid;
	overflow: hidden;
	align-items: center;

}

main section:nth-of-type(1) div {
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 1;


}

main section:nth-of-type(1) video {
	grid-column-start: 1;
	grid-row-start: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


main h1 {
	color: var(--color-text-wit);
	font-family: "basegroot";
	justify-self: center;
	align-self: center;
	text-align: center;
	filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0) );
	font-size: 2.8em;
	width: 80%;
}



main section:nth-of-type(1) div>p {
	color: var(--color-text-wit);
	font-size: 1.5em;
	font-family: "base";
	justify-self: center;
	align-self: center;
	text-align: center;
	font-weight: bold;
		filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0) );
}

main section:nth-of-type(1) div>a {

	background-color: var(--color-main);
	color: var(--color-rozebutton);
	border-radius: 1.5em;
	border: none;
	padding: 1em 2em;
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-inline: auto;
	width: fit-content;
}



main section:nth-of-type(1) div>ul {
	display: flex;
	gap: 1em;
	justify-content: center;
	padding: 0;
	font-size: 0.7em;
	filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0) );
}

main section:nth-of-type(1) div>ul li {
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;


}



main section:nth-of-type(1) div>ul li p {
	font-weight: bold;
	color: var(--color-text-wit);
	font-size: 1em;
}

main section:nth-of-type(1) div>ul li img {
	width: 2em;
	height: auto;
}

main section:nth-of-type(1) button {
	width: 3em;
	height: auto;
	position: absolute;
	top: 5em;
	z-index: 1;
}

/* readmore */

details{
	position: relative;
	color: var(--color-text);
	    font-family: 'base';
		    font-size: 1.08em;
text-decoration: none;
margin: 1.5em 0;
}

details summary::after{
	content: "read more 🡣";
	position: absolute;
	top:100%;
	left:0;

	color: var(--color-text);
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
}
details summary:hover::after {
	color: var(--color-main);
}



details[open] summary::after{
	content: "read less 🡡";

}

details:first-of-type summary::marker,
:is(::-webkit-details-marker) {
  content: none;
}

/* TWEEDE SECTIE */

main section:nth-of-type(2) div > img{
	width: 10em;
	height: auto;
}

@keyframes Kerstman {
	0%   { transform: translateX(0em); }
	35%   { transform: translateX(-10em); }
	65%  { transform: translateX(10em); }
	100% { transform: translateX(100em); }
}

main section:nth-of-type(2) div:hover > img {
	animation-name: Kerstman;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

main section:nth-of-type(2) ul li a {
	font-size: 3em;
	font-family: "basegroot";
	line-height: 1.5em;
	font-size: 2em;
}

main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
}

main section:nth-of-type(2) ul li img {

	max-width: 1em;
	height: auto;
}

main section:nth-of-type(2) ul {
	list-style: none;
	padding: 0;
}

main section:nth-of-type(2) >a {
	font-family: 'basegroot';
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em;
	display: block;

	width: fit-content;
}




/* DERDE SECTIE */



main section:nth-of-type(3) a {
	color: var(--color-main);
	text-decoration: underline;
}

main section:nth-of-type(3) a:hover {
	color: var(--color-select);
	
}



/* VIERDE SECTIE */

main section:nth-of-type(4) ul li {
	list-style: none;
	font-family: "textgroot";
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 0;
}

main section:nth-of-type(4) ul {
	padding: 0;
}

main section:nth-of-type(4) {
	display: flex;
	flex-direction: column-reverse;
}

main section:nth-of-type(4) h2 {
	order: 1;
}

main section:nth-of-type(4)>a {
	color: var(--color-text);
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 0.4em;
	text-decoration-color: var(--color-main);
}

main section:nth-of-type(4)>a:hover {
	color: var(--color-main);
}



/* VIJFDE SECTIE */

main section:nth-of-type(5) ul {
	list-style: none;
	display: grid;
	gap: 1em;
	padding: 0;
	grid-template-columns: repeat(2, 1fr);
}

/* ZESDE SECTIE */

main section:nth-of-type(6) ul {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	gap: 2em;
	scrollbar-width: none;
	padding: 0;
	anchor-name: --carousel;
	align-items: start;
}

main section:nth-of-type(6) img {
	width: 8em;
	height: auto;
}

main section:nth-of-type(6) h3 {
	font-size: 1.5em;
	font-family: "basegroot";
	margin-bottom: 0;
}

main section:nth-of-type(6) ul {
	&::scroll-button(*) {
		position: fixed;
		position-anchor: --carousel;
		position-visibility: always;
		font-family: "Material Symbols Outlined";
	}

	&::scroll-button(right) {
		position-area: block-end center;
		content: '👉' / 'Next';
		justify-self: end;
		padding: 1em;
		border-radius: 10em;
		background-color: var(--color-background);
	}

	&::scroll-button(left) {
		position-area: block-end center;
		content: '👈' / 'Previous';
		justify-self: end;
		right: 5em;
		padding: 1em;
		border-radius: 10em;
		background-color: var(--color-background);
	}
}

main section:nth-of-type(6) ul {
	scroll-marker-group: after;

	&::scroll-marker-group {
		position: fixed;
		position-anchor: --carousel;
		position-area: block-end;
		position-visibility: always;
		margin: 10px;

		display: grid;
		grid-auto-columns: 20px;
		grid-auto-flow: column;
		gap: 20px;
	}

}

main section:nth-of-type(6) li {

	flex-basis: 70%;
	flex-shrink: 0;
	scroll-snap-align: left;
	display: flex;
	flex-direction: column-reverse;
	border-bottom: var(--color-main) 1px solid;

}

main section:nth-of-type(6) p {
	order: -1;
}




/* MEDIA */


@media (min-width:48em) {
	main p {
		font-size: 1.4em;
	}
main section:nth-of-type(2) div > img{
	width: 15em;
	height: auto;
}
details {
	font-size: 1.3em;
}
	main section:nth-of-type(2) ul li a {
		font-size: 3em;
	}

	main section:nth-of-type(2) ul li img {
		width: 2em;
		height: auto;
	}

	main section:nth-of-type(6) li {
		flex-basis: 35%;
	}


main section:nth-of-type(1) div>ul {
	font-size: 1.1em;
}
}







@media (min-width:67em) {

	main section:nth-of-type(2),
	main section:nth-of-type(3),
	main section:nth-of-type(4),
	main section:nth-of-type(5),
	main section:nth-of-type(6) {
		margin: 0 8em;
		padding: 4em 1em;


	}

	main section:nth-of-type(5) ul {
		grid-template-columns: repeat(4, 1fr);
	}



}

@media (min-width:80em) {
	main section:nth-of-type(1) video {
		height: 80%;

	}
}

@media (prefers-color-scheme:dark) {
	main section:nth-of-type(6) img {
		filter: invert(1);
	}

	main section:nth-of-type(6) ul {
		&::scroll-button(left) {
			border-color: var(--color-main);
		}

		        &::scroll-button(right) {
            border-color: var(--color-main);
        }
	}

}



